<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extras Com Node</title>
</head>
<body>
    <h1>Assuntos Extras</h1>
    <ul>
        <li><a href="/upload">Upload de arquivos</a></li>
        <li><a href="/email">Enviar email</a></li>
        <li><a href="/pdf">Html para PDF</a></li>
    </ul>
</body>
</html>